
<div class="wrapper">
	<header>
		<div class="name">
			<h1>Garren Givens</h1>
		</div>
		<div class="underline" > 	
			<h2> Entrepreneur & Social Innovator </h2>
			<ul>
				<li><h3><%= link_to "Presidential Innovation Fellows, Director", "https://whitehouse.gov/innovationfellows" %></h3></li>
				<li><h3><%= link_to "18F, Deputy Exectutive Director", "https://18f.gsa.gov/" %></h3></li>
				<li><h3><%= link_to "Online Resume & Portfolio", "http://linkedin/in/ggivens" %></h3></li>
			</ul>	
		</div>

	</header>
	<div class="content">

	</div>
	<footer class="site-footer">
		<blockquote class="quote">
			 <div>
			 	<p>"I stand here today humbled by the task before us, grateful for the trust you have bestowed, mindful of the sacrifices borne by our ancestors."</p>
			 </div>
			 <div class="right"><p>--President Obama</p></div>
		</blockquote>
	</footer>
</div>

